version: "3.3"

services:
  mlflow:
    build: .
    container_name: mlflow
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri /mlruns
      --default-artifact-root /mlruns
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlruns

  api:
    build: .
    container_name: api
    command: uvicorn src.api:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    depends_on:
      - mlflow
